
*{
    margin: 0;
    padding: 0;
}

.menu-right
{
 text-align: right;

}
ul li{
display: inline-block;
margin: 30px;
list-style: none;
}
.nav
{
    
    box-shadow: 0 0px 0px #efefef;
}
.logo-img{
    float: left;
    position: relative;
    margin: 10px -5px -5px 10px;
    
}
.bg-div{
    background:rgb(255, 254, 254);
    overflow: hidden;
 }
#success_message{ display: none;}
