<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .form {
    position: relative;
    right: 180px;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #43a047;
  }

  .form .message {
    margin: 35px 0 0;
    color: #000000;
    font-size: 14px;
  }

  .form .message a {
    margin: 35px 0 0;
    font-size: 14px;
    text-decoration: none;
  }

  .form .register-form {
    display: none;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .container:before,
  .container:after {
    content: "";
    display: block;
    clear: both;
  }

  .container .info {
    margin: 50px auto;
    text-align: center;
  }

  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }

  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }

  .container .info span a {
    color: #000000;
    text-decoration: none;
  }

  .container .info span .fa {
    color: #ef3b3a;
  }

  body {
    background-color: #efe6d1;
    background-size: 100%;
  }
</style>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  referrerpolicy="no-referrer"
></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<body>
  <script>
    $(".message a").click(function () {
      $("form").animate({ height: "toggle", opacity: "toggle" }, "slow");
    });
  </script>
  <% if(result == 1) { %>
  <script>
    swal("SUCCESS", "Password Updated !!", "success");
  </script>
  <%}%> <% if(result == 2) { %>
  <script>
    swal("Error", "Invalid Credentials !!", "error");
  </script>
  <%}%> <% if(result == 3) { %>
  <script>
    swal(
      "Error",
      "Server Error. Contact Administrator if error persists !!",
      "error"
    );
  </script>
  <%}%>
  <div class="login-page" style="margin-left: 50%">
    <div class="form">
      <h2
        style="
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        "
      >
        Reset Password
      </h2>
      <script>
        function matchPassword() {
          var pw1 = document.getElementById("password").value;
          var pw2 = document.getElementById("password1").value;
          if (pw1 != pw2) {
            alert("Passwords did not match");
          }
        }
      </script>

      <form class="login-form" action="/forgot_password_submit" method="POST">
        <input
          type="text"
          id="register_number"
          name="register_number"
          placeholder="Register Number"
          required
        />
        <input
          type="email"
          placeholder="Email id"
          id="email_id"
          name="email_id"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="New Password"
          required
        />
        <input
          type="password"
          id="password1"
          placeholder="Retype Password"
          required
        />
        <button type="submit" onsubmit="matchPassword()">Reset</button>
        <p class="message">
          Not registered? <a href="/register">Create an account</a><br />Already
          Registered?<a href="/">Click here to Sign In</a>
        </p>
      </form>
    </div>
  </div>
</body>
